* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.open {
    /* display: none; */
    font-size: 2em;
}
.closed {
    display: none;
    font-size: 2em;
}
.container {
    display:flex;
    padding: 1em 3em ;
    justify-content: center;
    background-color: rgb(255 250 244);
}
.content-container {
    display: grid;
    width: 36em;
    /* align-content: center; */
    /* justify-content: center; */
    justify-items: center
}
.header {
    width: 30em;
}
.header>h1 {
    font-size: 2em;

}
.button-menu {
    display: flex;
    width: 30em;
    height: 3em;
    align-items: center;
    border-top: solid;
    border-top-width: 1px;
    margin-top: 1em;
    cursor: pointer;
    justify-content: space-between
}
.button-menu>h3 {
    color: rgb(60, 60, 207);
}
.content-container:hover .button-menu>h3 {
    color: black;
}
/* .content-container:hover .open {
    display: block;
} */

.button-input {
    width: 0;
    height: 0;
    appearance: none;
}
.mem-container {
    display: none;
}

.button-input:hover ~ .mem-container {
    display: block;
    /* transition: all 2s; */
}

.button-input:hover ~ .open {
    display: none;
    /* transition: all 2s; */
}

