* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: rgb(255 250 244);
}
.closed {
    display: none;
}

 .container {
    display:flex;
    padding: 1em 3em ;
    justify-content: center;
    
}
.content-container {
    display: grid;
    width: 30em;
    /* align-content: center; */
    /* justify-content: center; */
    justify-items: center
}
.menu-container {
    display: contents;
}
.header {
    width: 30em;
}
.header>h1 {
    font-size: 2em;

}
.button-menu {
    display: flex;
    width: 30em;
    height: 3em;
    align-items: center;
    border-top: solid;
    border-top-width: 1px;
    /* margin-top: 1em; */
    cursor: pointer;
    justify-content: space-between
}
.button-menu>h3 {
    color: rgb(60, 60, 207);
}
.content-container:hover .button-menu>h3 {
    color: black;
}
/* .content-container:hover .open {
    display: block;
} */

.button-input {
    width: 0;
    height: 0;
    appearance: none;
}
.mem-container {
    display: none;
    width: 30em;
    justify-content: center;
    cursor: pointer;
}

.button-input:hover ~ .mem-container {
    display: flex;
}



.button-input:checked ~ .mem-container {
    display: flex;
}

.button-input:checked ~ .button-menu h3 {
    color: black;
}

.content-container:hover .button-menu .closed {
    display: block;
}
/* .button-menu:after {
    
    content: "+";
    font-size: 2em;
} */
.content-container:hover .closed:after {
    content: "+";
    font-size: 2em;

}
.button-input:checked ~ .button-menu .closed:after {
    content: "×";
    font-size: 2em;
}

.button-input:hover ~ .button-menu .closed:after {
    content: "×";
    font-size: 2em;
}

